@using WebTrack.Data.Entities
@model Website

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="~/css/websites.css" asp-append-version="true" />
    <title>Tracking</title>
</head>
<body>
    <h1>@Model.Name</h1>
    <p>Secret - @Model.WsSecret</p>

    @section Scripts {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.7/signalr.min.js"></script>
        <script src="~/js/websites.js" asp-append-version="true"></script>
        <script type="text/javascript">initializeTracking("@Model.WsSecret")</script>
    }
</body>
</html>


