@using WebTrack.Core.DTOs.Websites
@model IEnumerable<WebsiteListItemDto>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="~/css/websites.css" asp-append-version="true" />
    <title>Tracking</title>
</head>
<body>
    <a asp-action="Create" asp-controller="Websites">Add Website</a>

    @foreach (WebsiteListItemDto website in Model)
    {
        <div>
            <a asp-action="Details" asp-controller="Websites" asp-route-id="@website.Id"><p>@website.Name - @website.BaseUrl</p></a>
        </div>
    }

</body>
</html>
