<div>
    <p>All users - <a asp-controller="Admin" asp-action="Users">Users</a></p><br />
    <p>All websites - <a asp-controller="Admin" asp-action="Websites">websites</a></p><br />
    <p>All visitors - <a asp-controller="Admin" asp-action="Visitors">visitors</a></p><br />
    <p>All sessions - <a asp-controller="Admin" asp-action="Sessions">sessions</a></p><br />
</div>