<div>
    <p>All users - <a href="/users">users</a></p><br />
    <p>All websites - <a href="/websites">websites</a></p><br />
    <p>All visitors - <a href="/visitors">visitors</a></p><br />
    <p>All sessions - <a href="/sessions">sessions</a></p><br />
</div>